<div class="text-center">
  <%= image_tag @post.squared_img %>
</div>

<div class="form-wrapper">
  <h2>Actualizar un post</h2>
  <%= render 'form' %>
</div>

<div class="text-center edit-links">
  <%= link_to "Borrar Post", post_path(@post), method: :delete, data: { confirm: "¿Estás segura que quieres eliminar este post?" } %>
  |
  <%= link_to "cancelar", posts_path %>
</div>
